.calendar {
  padding: 2vmin;
}

.calendar__title {
  margin-top: 1vh;
}

.calendar__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.calendar__list-item {

}

.calendar__list-item--title {
  padding-right: 2vw;
}

.calendar__list-item--date {
  color: lighten($widget-bg-color, 20);
}
