.widget__body.calendar
  padding 2vmin

  h2
    font-size 2vmin

.content {
  padding: 0 40px 20px 40px;
  background-size: 20%;
  background-position: 91% 94%;
  height: 503px;
}

.time {
  font-size: 1.8em;
  color: #3F80C2;
  margin: 10px 0;
}

.more-info {
  font-size: 1.6em;
}

.room {
  font-size: 1.6em;
}

.updated-at {
  font-size: 1.6em;
}

.updated-at span {
  color: #3F80C2;
}